<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head profile="http://selenium-ide.openqa.org/profiles/test-case">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="selenium.base" href="http://nightly.enyojs.com/" />
<title>TC-ENYO-Enyo Core-Fittable Layouts-Example layout 4</title>
</head>
<body>
<table cellpadding="1" cellspacing="1" border="1">
<thead>
<tr><td rowspan="1" colspan="3">TC-ENYO-Enyo Core-Fittable Layouts-Example layout 4</td></tr>
</thead><tbody>
<!--TC-ENYO-Layout-Fittable Layouts-Example layout 4-->
<!--Author: Sharon Tong-->
<!--Date: 2012/10/31-->
<!--Version: 0.1-->
<!--Purpose: To test if the Example app layout 4 shows correctly-->
<!--///////////////////////////////////////////////////-->
<tr>
	<td>open</td>
	<td>/latest/sampler/lib/layout/fittable/samples/FittableAppLayout4.html</td>
	<td></td>
</tr>
<tr>
	<td>click</td>
	<td>id=fittableAppLayout4_button</td>
	<td></td>
</tr>
<!--Need to use captureEntirePageScreenshot to check the layout in the future-->
</tbody></table>
</body>
</html>
