<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head profile="http://selenium-ide.openqa.org/profiles/test-case">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="selenium.base" href="http://nightly.enyojs.com/" />
<title>TC-ENYO-Enyo Core-Fittable Layouts-Description</title>
</head>
<body>
<table cellpadding="1" cellspacing="1" border="1">
<thead>
<tr><td rowspan="1" colspan="3">TC-ENYO-Enyo Core-Fittable Layouts-Description</td></tr>
</thead><tbody>
<!--TC-ENYO-Layout-Fittable Layouts-Description-->
<!--Author: Sharon Tong-->
<!--Date: 2012/10/31-->
<!--Version: 0.1-->
<!--Purpose: To test if the description page shows correct content.-->
<!--///////////////////////////////////////////////////-->
<tr>
	<td>open</td>
	<td>/latest/sampler/lib/layout/fittable/samples/FittableDescription.html</td>
	<td></td>
</tr>
<tr>
	<td>verifyText</td>
	<td>id=fittableDescription_control</td>
	<td>FittableColumns, no margin on boxes (all divs have some padding). By default, boxes 'stretch' to fit the container (which must have a height).</td>
</tr>
<tr>
	<td>verifyText</td>
	<td>id=fittableDescription_control3</td>
	<td>Fitting BoxB</td>
</tr>
<tr>
	<td>verifyText</td>
	<td>id=fittableDescription_control5</td>
	<td>Boxes with left/right margins. Note: top/bottom margin on column boxes is NOT supported.</td>
</tr>
<tr>
	<td>verifyText</td>
	<td>id=fittableDescription_control6</td>
	<td>BoxA</td>
</tr>
<tr>
	<td>verifyText</td>
	<td>id=fittableDescription_control9</td>
	<td>*noStretch: true*</td>
</tr>
<tr>
	<td>verifyText</td>
	<td>id=fittableDescription_control18</td>
	<td>BoxA</td>
</tr>
</tbody></table>
</body>
</html>
